

hidden = [".pythonlibs"]
modules = ["python-3.12", "web", "nodejs-22"]
run = "bash start_dev.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bash start_preview.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 2000
externalPort = 8080

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002

[[ports]]
localPort = 5177
externalPort = 3003

[[ports]]
localPort = 5178
externalPort = 4200

[[ports]]
localPort = 5179
externalPort = 5173

[[ports]]
localPort = 5180
externalPort = 6000

[[ports]]
localPort = 5181
externalPort = 6800

[[ports]]
localPort = 5182
externalPort = 8000

[[ports]]
localPort = 5183
externalPort = 8008

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 11185186
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
