

hidden = [".pythonlibs"]
modules = ["python-3.12", "web", "nodejs-22"]
run = "bash start_dev.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bash start_preview.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 11185186
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start_dev.sh"
